.organicfood {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./Assets/5e3c01a77f911e3cbc7e02e83a903409.png");
    background-size: 400px 400px;
    background-position: right top;
    background-color: #E9F1EE;
    background-repeat: no-repeat;
    padding: 60px 0px;
    gap: 50px;

    .food {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        p {
            font-family: Shadows Into Light Two;
            font-size: 24px;
            font-weight: 400;
            line-height: 28.8px;
            letter-spacing: 1px;
            text-align: center;
            color: #49A760;
        }

        h2 {
            font-family: Outfit;
            font-size: 50px;
            font-weight: 600;
            line-height: 60px;
            text-align: center;
            color: #04000B;
        }

    }

    .organic-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75%;
        gap: 10px;

        .card {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 30px;
            border-radius: 30px;
            background-color: #FCFCFC;
            padding: 40px;

            img {

                width: 50%;
            }

            h3 {
                font-family: Outfit;
                font-size: 26px;
                font-weight: 600;
                line-height: 28.8px;
                text-align: left;
                color: #04000B;

            }

            h4 {
                font-family: Outfit;
                font-size: 23px;
                font-weight: 500;
                line-height: 21.6px;
                text-align: left;
                color: #49A760;
            }

            .card-content {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                gap: 20px;

                p {
                    font-family: Outfit;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 28.8px;
                    text-align: left;
                    color: #666666;
                }

                .arrowicon {
                    background-color: #F7C35F;
                    border-radius: 50%;
                    border: 1px solid #F7C35F;
                    width: 15%;
                    height: 3vh;
                    padding: 8px 15px;

                }
            }


        }
    }



    .land-complete {
        background-image: url("./Assets/tractor.jpeg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 70vh;
        position: relative;

        .paper {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

        }

        .distributors {
            width: 30%;
            background-color: #49A760;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 70px;
            gap: 20px;
            position: absolute;
            left: 15%;
            bottom: 0;

            h2 {
                font-family: Outfit;
                font-size: 50px;
                font-weight: 600;
                line-height: 60px;
                text-align: left;
                color: #FCFCFC;
            }

            p {
                font-family: Outfit;
                font-size: 18px;
                font-weight: 500;
                line-height: 28.8px;
                text-align: left;
                color: #FCFCFC;
            }

            .tick {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;

                ul {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: flex-start;
                    list-style: none;
                    gap: 5px;

                }

                ul li {
                    font-family: Outfit;
                    font-size: 17px;
                    font-weight: 500;
                    line-height: 34px;
                    text-align: left;
                    color: #F8F9FA;
                }

                ul li:before {
                    content: '✓    ';
                }

            }

        }

        img {
            position: absolute;
            bottom: -55px;
            left: 10%;
        }
    }




}

.organic-bottom {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;


    .healthylife {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        margin-top: 30px;

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('./Assets/grass.jpeg');
            background-size: cover;
            background-clip: text;
            width: 60%;

            h3 {
                font-family: Shadows Into Light Two;
                font-size: 80px;
                font-weight: 400;
                line-height: 110px;
                text-align: left;
                color: transparent;

            }
        }

        .fruits {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            gap: 60px;

            .eatable {
                display: flex;
                justify-content: right;
                align-items: flex-end;
                gap: 30px;

                img {
                    width: 15%;
                }
            }


        }

    }


}



span {
    display: block;
}