.section {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
    margin: 60px 73px;

    .images {
        width: 44%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;

        .smile {
            border-radius: 10px;
            position: absolute;
            left: 4em;
            bottom: 0;

            @media(max-width:1750px){
                width: 35%;
                left: 0em;
            }
        }

        .green {
            width: 100px;
            height: 100px;
            position: absolute;
            left: 6em;
            bottom: 19em;
            background-color: #C5CE38;
            border-radius: 10px;
            z-index: -1;
            @media(max-width:1860px){
                left: 7em;
                bottom: 17em;

            }
            @media(max-width:1650px){

                bottom: 15em;

            }
            @media(max-width:1450px){

                bottom: 13em;

            }
            @media(max-width:1530px){
                left: 4em;
                bottom: 13em;

            }
        }

        .truck {
            border-radius: 10px;

            @media(max-width:1600px){
                width: 58%;

            }
        }
    }

    .content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
        width: 50%;

        h4 {
            font-family: Covered By Your Grace;
            font-size: 26px;
            font-weight: 400;
            line-height: 36px;
            text-align: left;
            color: #EEC044;
        }

        h2 {
            font-family: Manrope;
            font-size: 54px;
            font-weight: 800;
            line-height: 57.6px;
            text-align: left;
            color: #1F1E17;

            @media(max-width:1750px) {
                font-size: 34px;
            }
        }

        h3 {
            font-family: Manrope;
            font-size: 24px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            color: #4BAF47;

            @media(max-width:1750px) {
                font-size: 19px;
            }
        }

        p {
            font-family: Manrope;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            text-align: left;
            color: #878680;

            @media(max-width:1750px) {
                font-size: 15px;
            }
        }

        ul {
            display: flex;
            justify-content: left;
            flex-direction: column;
            align-items: flex-start;
            list-style: none;
            gap: 5px;

            @media(max-width:1750px) {
                gap: 3px;
            }

            li {
                font-family: Manrope;
                font-size: 20px;
                font-weight: 700;
                line-height: 36px;
                text-align: left;
                color: #1F1E17;

                @media(max-width:1750px) {
                    font-size: 17px;
                }
            }
        }

        ul li:before {
            content: '✓    ';
            color: #C5CE38;
        }

        button {
            font-family: Manrope;
            font-size: 18px;
            font-weight: 700;
            line-height: 30px;
            text-align: left;
            text-align: center;
            padding: 20px 40px;
            color: #FFFFFF;
            background-color: #4BAF47;
            border-radius: 10px;
            border: none;
            outline: none;
        }

        @media(max-width:1750px) {
            gap: 20px;
            width: 40%;
        }

    }


}

.plantation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../Assets/plants.png');
    width: 100%;
    height: 600px;
    gap: 60px;


    .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFFFFF;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;

        .play {
            scale: 2;
        }
    }

    h2 {
        font-family: Manrope;
        font-size: 60px;
        font-weight: 800;
        line-height: 72px;
        letter-spacing: -4px;
        text-align: center;
        color: #FFFFFF;
    }

    .opaq {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        width: 54%;
        height: 17vh;
        opacity: 6%;
        rotate: -65deg;
        background: white;
        position: absolute;
        bottom: -322px;
        right: 0;
    }

    .opaq2 {
        width: 54%;
        height: 17vh;
        opacity: 6%;
        rotate: -65deg;
        background: white;
        position: absolute;
        bottom: -22em;
        right: -8em;

        @media(max-width:1450px){
            bottom: -18em;
            right: -6em;
        }
    }

}

.framesection {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F1E17;
    position: relative;

    h4 {
        font-family: Manrope;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        text-align: center;
        color: #A5A49A;
    }

    img {
        position: absolute;
        top: 70px;
        left: 0;
        opacity: 10%;
    }

}

span {
    display: block;
}